---
title: Example Event
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <h1><%= current_page.data.title %></h1>
      </div>
    </div>
  </div>
</section>

<section class="event-breadcrumbs">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/index.html">Home</a></li>
        <li class="active"><%= current_page.data.title %></li>
      </ol>
    </div>
  </div>
</section>