.navbar-logo {
  
  width: 250px;
  margin-top: 15px;
  
}

.svc-logo {
  
  margin-left: 20px;
  
}

.align-left {
  
  float: left;
  margin: 0 10px 5px 0;
  
}

.align-right {
  
  float: right;
  margin: 0 0 5px 10px;
}