#mc_embed_signup input {
  
  border-bottom: 1px solid #1747B6;
  
}

.list-header {
  
  color: #17479E;
  font-size: 31px;
  text-align: center;
  
}

.list-well {
  
  
}

.required {
  
  color: $brand-danger;
  
}