.navbar {

  box-shadow: none;
  border-radius: 0px;
  border-bottom: 5px solid $brand-primary;

}

.navbar-default .navbar-nav>li>a {
  
  color: $brand-primary;
  // padding-top: 65px;
  
}

@media screen and (max-width: 770px){
  
  .navbar-default .navbar-nav>li>a {
    
    padding-top: 10px;
  
  } 
  
}
