h1.h1-cta {
  
  font-size: 25px;
  margin-top: 0px;
  color: $brand-primary;
  
}

h2.h2-cta {
  
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $brand-primary;
  margin: 5px 0;
  
}