h1.h1-cta {
  
  font-size: 25px;
  margin-top: 0px;
  color: $brand-primary;
  
}

h2.h2-cta {
  
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $brand-primary;
  margin: 5px 0;
  
}

body {
  
  -webkit-font-smoothing: antialiased;
}

blockquote#pro-quote {
  
  padding: 4.5px 23px;
  margin: 0px 0 10px;
  font-size: 17px;
  border-left: 5px solid darken(#17479E, 10%);
  background-color: #17479E;
  color: white;
  
}

blockquote footer, blockquote small, blockquote .small {
  
  color: white;
  
}