<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list list-unstyled">
          <li><a target="_blank" alt="Sheffield Vision Centre" href="http://www.sheffieldvisioncentre.co.uk/">Home</a></li>
          <li><a target="_blank" alt="How to get to the Royal Hallamshire Hospital" href="http://www.sth.nhs.uk/our-hospitals/royal-hallamshire-hospital/how-to-get-here">How to find us at the Royal Hallamshire Hospital</a></li>
          <li><a target="_blank" alt="find out more about laser eye surgery" href="http://www.sheffieldvisioncentre.co.uk/laser-eye-surgery/introduction">Find out more about Laser Eye Surgery</a></li>
          <li><a target="_blank" alt="Cookie policy" href="http://www.sheffieldvisioncentre.co.uk/cookie-policy">Cookie policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>We are authorised and regulated by the Financial Conduct Authority, our Firm Reference Number is 763804</p>
        <p>*Lasek = £1500 per eye. 20% initial deposit and 48 equal monthly instalments of £30.14 per eye. Total cost of finance £246.72</p>
      </div>
      <div class="col-md-4">
        <p>Sheffield Vision Centre is owned and managed by <a href="http://www.sth.nhs.uk/" target="_blank">Sheffield Teaching Hospitals NHS Foundation Trust</a>.</p>
        <p>Any income surplus is reinvested into supporting NHS patient care.</p>
      </div>
    </div>
  </div>
</footer>

<div class="mobile-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a role="button" href="tel:01142711564" title="Call to book an appointment now" class="btn btn-danger btn-block">Call now</a>
        </div>
      </div>
  </div>
</div>