<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Sheffield Vision Centre is owned and managed by <a href="http://www.sth.nhs.uk/" target="_blank">Sheffield Teaching Hospitals NHS Foundation Trust</a>.</p>
        <p>All profits are invested into supporting NHS patient care.</p>
      </div>
      
      <div class="col-md-4">
        <ul class="list list-unstyled">
          <li><a target="_blank" alt="Sheffield Vision Centre" href="http://www.sheffieldvisioncentre.co.uk/">Home</a></li>
           <li><a target="_blank" alt="How to get to the Royal Hallamshire Hospital" href="http://www.sth.nhs.uk/our-hospitals/royal-hallamshire-hospital/how-to-get-here">How to find us at the Royal Hallamshire Hospital</a></li>
          <li><a target="_blank" alt="find out more about laser eye surgery" href="http://www.sheffieldvisioncentre.co.uk/laser-eye-surgery/introduction">Find out more about Laser Eye Surgery</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>