<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Sheffield Vision Centre is owned and managed by <a href="http://www.sth.nhs.uk/" target="_blank">Sheffield Teaching Hospitals NHS Foundation Trust</a>.</p>
        <p>All profits are invested into supporting NHS patient care.</p>
      </div>
      
      <div class="col-md-4">
        <ul class="list list-unstyled">
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>