<!-- Site details -->
<title>Affordable laser eye surgery at Sheffield Vision Centre</title>
<meta name="keywords" content="opticians, optician, laser eye, laser eye surgery, refractive eye surgery, Sheffield Vision Centre, vision centre, contact lenses, low cost eye surgery">
<meta name="description" content="Affordable Laser Eye Surgery - Book a free consultation with Sheffield Vision Centre, a leading provider of laser eye surgery." />

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary_large_image">
<meta name="twitter:site" content="@SheffieldHosp">
<meta name="twitter:title" content="Affordable laser eye surgery at Sheffield Vision Centre">
<meta name="twitter:description" content="Book a free consultation with Sheffield Vision Centre, a leading provider of laser eye surgery.">
<meta name="twitter:image" content="https://sheffieldvisioncentre.github.io/offer/images/swimming.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Affordable laser eye surgery at Sheffield Vision Centre" />
<meta property="og:type" content="article" />
<meta property="og:url" content="/index.html" />
<meta property="og:image" content="https://sheffieldvisioncentre.github.io/offer/images/swimming.jpg" />
<meta property="og:description" content="Book a free consultation with Sheffield Vision Centre, a leading provider of laser eye surgery" />
<%= favicon_tag 'images/ico/favicon-96x96.png' %>