<!-- Button trigger modal 
<a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#directionsModal">
  Directions
</a>
-->

<!-- Modal -->
<div class="modal fade" id="directionsModal" tabindex="-1" role="dialog" aria-labelledby="directionsModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How to Find Us</h4>
      </div>
      <div class="modal-body">
        <p>We are located on A floor within the Main Outpatient Building at the Royal Hallamshire Hospital, Sheffield</p>
        <h4>Getting here by public transport</h4>
        <p>Travel South Yorkshire has created a helpful guide to getting the bus to the Royal Hallamshire and the central campus. <a target="_blank" href="http://www.travelsouthyorkshire.com/sheffieldhospitalguide.htm">You can find the guide here</a></p>
        <h5>Getting here by car</h5>
        <p>The hospital is on Glossop Road (B6069). If you are using SatNav the postcode for the hospital is S10 2JF.</p>
        <img src="http://www.sheffieldvisioncentre.co.uk/clientfiles/Image/map2.jpg" width="100%">
      </div>
    </div>
  </div>
</div>