  <!-- Static navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">

        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-small visible-xs" href="#">Sheffield Teaching Hospitals</a>


            <a class="navbar-brand hidden-xs" href="#">
              <% if content_for?(:navbar_title) %>
                <%= yield_content :navbar_title %>
                <% else %>
                Work for us
              <% end %>
            </a>
          </div>

          <ul class="nav navbar-nav navbar-right hidden-xs">
            <% link_to "/index.html" do %>
                <%= image_tag "logo-white.png", class: "navbar-logo", alt: "logo for the Sheffield Teaching Hospital NHS Foundation Trust" %>
            <% end %>
          </ul>

        </div>

        <div class="row">

        </div>




        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <%= link_to "Home", "index.html" %></li>
            <li> <%= link_to "About", "working-for-us.html" %></li>
            <li><a href="#search">Search for Jobs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
