  <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container">

        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
            <a target="_blank" href="http://www.sheffieldvisioncentre.co.uk/"><%= image_tag "sheffield-vision-centre-logo.png", height: "80", class: "svc-logo", alt: "Sheffield Vision Centre" %></a>
          </div>
          
        <div id="navbar" class="navbar-collapse collapse"> 
          <% link_to "http://www.sth.nhs.uk/", target: '_blank' do %>
            <%= image_tag "sth_logo_blue_tight.png", class: "navbar-logo pull-right hidden-xs", alt: "logo for the Sheffield Teaching Hospital NHS Foundation Trust" %>
          <% end %>
          <ul class="nav navbar-nav">
            <li><a href="#selling-points">Why Choose the Vision Centre?</a></li>
            <li><a id="buttonHeadingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Get the right treatment</a></li>
            <li><a id="buttonHeadingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Prices</a></li>
            <li><a id="buttonHeadingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Finance options</a></li>
            <li><a id="buttonHeadingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Meet our Surgeons</a></li>
            <li><a id="buttonHeadingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">How to find us</a></li>
          </ul>
          
        </div><!--/.nav-collapse -->

        </div>
      </div>
    </nav>