<div class="row">
  <div class="col-md-12">
    <%= image_tag "map2.jpg", width: "500", class: "align-right img-responsive", alt: "Sheffield Vision Centre at the Royal Hallamshire Hospital" %>
    <p>We are located on A floor within the Main Outpatient Building at the Royal Hallamshire Hospital, Sheffield.</p>
    <p>If you are using SatNav the postcode for the hospital is S10 2JF.</p>
    <p>You can find further advice about <%= link_to "getting to the Royal Hallamshire Hospital here", "http://www.sth.nhs.uk/our-hospitals/royal-hallamshire-hospital/how-to-get-here", target: "_blank" %>.</p>
    <h4>Contact details</h4>
    <address>
      Sheffield Vision Centre <br>
      The Royal Hallamshire Hospital <br>
      Glossop Road <br>
      Sheffield <br>
      South Yorkshire <br>
      S10 2JF <br>
      0114 271 1564 <br>
      <a href="mailto:info@sheffieldvisioncentre.co.uk" title="Email us via info@sheffieldvisioncentre.co.uk">info@sheffieldvisioncentre.co.uk</a>
    </address>
  </div>
</div>