<div class="row">
  <div class="col-md-12">
      <p>We offer a number of finance options to help you spread the cost of treatment such as a no deposit, 24 month Interest free payment option.</p>
  </div>
</div>