<div class="row">
  <div class="col-md-12">
    <h4 class="text-center">A leading UK centre</h4>
    <p>As one of the leading UK Centres for laser eye surgery and lens surgery, you can be confident that you will have access to very latest laser eye treatments provided by experienced NHS Consultant Surgeons and a specialist team who have a track record of delivering excellent results and customer service.</p>
    <p>Our approach is very different to other providers, because we tailor our care to your individual needs. Our specialists will spend time with you to discuss the right treatment for you after carefully reviewing your prescription, lifestyle, and what you hope to achieve by having treatment.</p>
  </div>
  
  <div class="col-md-12">
    <h4 class="text-center">Reasons to choose us</h4>
    <ol>
      <li>Reliable, experienced surgeons with a national and international reputation</li>
      <li>A track record of excellent treatment outcomes since opening in 2008</li>
      <li>Patient safety and satisfaction at the heart of everything we do </li>
      <li>The very latest laser eye surgery using state-of-the-art technology </li>
      <li>An Extended Satisfaction Pledge </li>
      <li>Transparent pricing – no hidden extras </li>
      <li>Personalised care planning </li>
      <li>Personalised specialist advice on appropriate surgical technique including ReLEx® SMILE*</li>
      <li>A trusted hospital based clinic and service</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="text-center">No hidden extras</h4>
    <%= image_tag "laser_room.jpg", class: "img-responsive align-right", alt: "Patient undergoing treatment in the laser room" %>
    <p>The advertised cost of laser eye surgery can be very confusing and sometimes simply misleading.  At Sheffield Vision Centre, we take a transparent and simple approach to pricing - regardless of your prescription.</p>
    <p>
    Some clinics may advertise low initial fees, but these prices often only cover very small prescriptions and the most basic of treatments.  Extra investigations and refinements in treatment will carry surcharges. At Sheffield Vision Centre we will give you an all-inclusive fee which covers the whole treatment and aftercare. Easy payment plans that spread the cost of treatment are also available.
    </p>
    <p>When making comparisons between places that offer laser eye surgery it is important to compare like with like.</p>
  </div>
  
  <div class="col-md-12">
    <h4 class="text-center">Don’t get caught out!</h4>
    <p>There are a number of factors affecting price that most prospective laser eye surgery patients aren't aware of until they attend their consultation, such as:</p>
    <h5>Wavefront analysis</h5>
    <p>Some advertised high street prices do not include <a title="Wavefront analysis" href="http://www.sheffieldvisioncentre.co.uk/laser-eye-surgery/wavefront-guided-treatment" target="_blank">wavefront analysis</a> or wavefront treatment which needs specialist individualised advice. Our prices include both of these options. There is no additional cost for wavefront analysis or treatment, if required</p>
    <h5>All aftercare</h5>
    <p>Some clinics charge additional fees for post-operative medications, supplementary eye drops, supplementary post-operative appointments and enhancements. Approximately one in twenty patients who have had laser surgery may require a second enhancement procedure to maximise the results. At Sheffield Vision Centre there is no extra charge if an enhancement procedure is required</p>
    <h5>Access to your surgeon</h5>
    <p>At Sheffield Vision Centre you will meet and be able to discuss your treatment options with a dedicated surgeon at your first visit. Our experienced NHS surgeons are always available for advice and follow up consultations if required</p>
  </div>
</div>