<h4>Matthew Edwards - Consultant Opthamologist</h4>
<%= image_tag "Matthew_Edwards.jpg", width: "165", class: "align-right", alt: "Matthew Edwards - Consultant Opthamologist" %>
<p>Matthew Edwards is a highly experienced, consultant eye surgeon specialising in corneal and refractive surgery as well as ocular surface disease.</p>
<p>A Fellow of The Royal College of Ophthalmologists, Matthew has amassed a wealth of experience in all forms of refractive surgery including LASIK, LASEK, Refractive Lens Exchange (RLE) and INTACs.  He is an active member of the British Society of Refractive Surgery, a member of the Societies of Cataract and Refractive Surgery in both the United Kingdom and America and an Honorary Senior Lecturer at the University of Sheffield, publishing articles regularly in peer-reviewed journals.</p>
<hr>
<h4>Mr Mathew Raynor - Consultant Ophthalmologist</h4>
<%= image_tag "Mathew_Raynor.jpg", width: "165", class: "align-right", alt: "Mr Mathew Raynor - Consultant Ophthalmologist" %>
<p>Mathew is a full-time Consultant Ophthalmologist specialising in the treatment of the anterior segment of the eye.</p>
<p>Mathew graduated from Manchester University Medical School in 1994. He trained in Ophthalmology in Southampton and then in Manchester. He completed a fellowship in Corneal and Refractive surgery before moving to the Royal Hallamshire Hospital as the unit’s second corneal surgeon. </p>
<p>A large part of his NHS surgical workload is corneal transplantation and along with Mr Edwards, he runs the Regional Corneal Transplant Service. He is experienced in a variety of refractive procedures including LASIK, LASEK, Refractive Lens Exchange and INTACS.</p>
<hr>
<h4>Mr Sid Goel - Consultant Ophthalmologist</h4>
<p>Mr Goel graduated medicine in 1996. Since then he has trained and worked in Ophthalmology in eminent teaching centres in the UK (including at the Royal Hallamshire Hospital) and internationally. Mr Goel has won many national and international awards for his research and scientific work.</p>
<p>Mr Goel specialises in:</p>
<ul>
  <li>Cataract and Refractive Surgery</li>
  <li>Oculofacial Plastic Surgery</li>
  <li>Corneal/Anterior Segment Surgery</li>
</ul>
<p>Mr Goel is a Fellow of the Royal College of Ophthalmologists(FRCOphth) and is a member of the British Society of Refractive Surgeons and European Society of Cataract and Refractive Surgery. In 2013 he has been elected as a council member of the United Kingdom and Ireland Society of Cataract and Refractive Surgeons. </p>
<hr>
<h2 class="h2-cta">Call 0114 2711564 now to book a free no obligation consultation</h2>